/* Navbar */
.right-align {
    margin-left: auto!important;
    margin-right: 0px !important;
}
/* Main Image */
.jumbotron {
   
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("assets/shutterstock_521094097.jpg");
    background-size: cover; 
    height: 500px;   
}
.jumbotron .titletext {
    color: white;
    font-size: 50px;
    display: block;
    font-family: 'Rambla', sans-serif;
}
.container-fluid {
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
  }
.row-fluid {
      height: 100%; 
      display:table-cell; 
      vertical-align: middle;
}
.centering {
    float:none;
    margin:0 auto;
    text-align: center;
  }
  p {
    text-align: center;
  }
/* Services */
.container {
   margin-bottom: 5%; 
}
h2 {
    text-align: center;
    margin-bottom: 5%;
}
/* Gallery */
.my-gallery {
    width: 100%;
    float: left;
  }
  .my-gallery img {
    width: 100%;
    height: auto;

  }
  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5% 5% 29%;
    width: 300px;
  }
  .my-gallery figcaption {
    display: none;
  }
  /* Gallery2 */
  .my-gallery2 {
    width: 100%;
    float: left;
  }
  .my-gallery2 img {
    width: 100%;
    height: auto;
  
  }
  .my-gallery2 figure {
    display: block;
    float: left;
    margin: 0 5% 5% 29%;
    width: 300px;
  }
  .my-gallery2 figcaption {
    display: none;
  }
/* contact */
.img-thumbnail {
    border-radius: 50%;
    margin: 33%;
}
/* MEDIA QUERIES   */
@media only screen and (min-width : 1200px) { /* For desktop: */
        .navbar-brand {
            display: none;
        }   
        .jumbotron .titletext {
            font-size: 75px;
        } 
        .my-gallery {
            margin-left: 6%;
        }
        .my-gallery2 {
            margin-left: 6%;
        }
        .my-gallery figure {
            margin: 0 5% 5% 5%;
            width: 140px;
          }
        .my-gallery2 figure {
            margin: 0 5% 5% 5%;
            width: 200px;
        }
        .img-thumbnail {
            margin: 0px ;
        }
}
@media only screen and (min-width : 768px) /* For Tablet */
    .img-thumbnail {
        margin: 0px ;
    }
}
@media only screen and (max-width:320px) { /* For Mobile */
    .jumbotron .titletext {
        visibility: 0;
    }
}